<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
	    <!-- 启用懒加载，必须按照下面方式配置 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 将积极加载改为消极加载即按需加载。必须写,且为false才会懒加载 -->  
		<setting name="aggressiveLazyLoading" value="false"/>
		
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>

	<!-- 设置类的别名 -->
	<typeAliases>
		<typeAlias type="com.xx.entity.User" alias="User"/>
		<typeAlias type="com.xx.entity.Authority" alias="Authority"/>
		<typeAlias type="com.xx.entity.Role" alias="Role"/>
		<typeAlias type="com.xx.entity.Loginlog" alias="Loginlog"/>
	</typeAliases>

	<!-- 引入映射文件,在spring-bean中代替 -->
	<!-- <mappers> -->
		<!-- <mapper class="com.qianfeng.anno.IPersonDao"/> -->
		<!-- 通过包名引入其中包含注解的类 -->
		<!-- <package name="com.qianfeng.relation_anno"/> -->
	<!-- </mappers> -->
</configuration>